version: '3.7'

services:
  mercure:
    image: dunglas/mercure:v0.11
    restart: unless-stopped
    environment:
      SERVER_NAME: ':80'
      MERCURE_PUBLISHER_JWT_KEY: '!ChangeMe!'
      MERCURE_SUBSCRIBER_JWT_KEY: '!ChangeMe!'
      MERCURE_EXTRA_DIRECTIVES: |
        cors_origins http://foo.localhost
        anonymous
        demo
    ports:
      - 8888:80

  app:
    build:
      context: ./
      dockerfile: Dockerfile
      target: production
    ports:
      - 80:80
